@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
$yellow: #FCF488;
$bg: #3E3D3D;

body, html {
    margin: 0;
    margin: 0;
    background-color: $bg;
    color: $yellow;
    font-family: 'Montserrat', sans-serif;
    clip-path: polygon(0 0, 75% 0, 16% 19%, 0% 100%) $yellow;

}

.container {
    text-align: center;
    padding: 1em;
}

a {
    color: $yellow;
}

.subject-wrapper {
    color: white;
    background-color: lighten($color: $bg, $amount: 5);
    border-radius: 10px;
    padding: 1em;
}

form{
    font-size: .8em;
    input {
       margin-bottom: 1em;
   }
}

footer {
    margin-top: 5em;
    font-size: .8em;

    .img-footer {
        width: 55px;
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 0;
    }
}


.add, .del, .splide__list {
    margin-top: 2em;
}


input{
    text-align: center;
    color: white;
    margin-top: .5em;
    padding: .5em;
    background-color: $bg;
    border: none;
}

hr{
    opacity: 40%;
}

h1 {
    font-size: 1.4em;
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

button {
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}


.flex-parent{
    display: flex;
}

.flex-child-grade{
    align-self: center;
}

.img-grade{
    width: 500px;
}


.btn-gwa {
    background-color: $yellow;
    margin-top: 1em;
    padding: 8px;
    width: 150px;
    border-radius: 10px;
    font-size: 1em;
    font-family: inherit;
    font-weight: bold;
    box-shadow: 8px 0px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;

    &:hover{
        background-color: $yellow;
        box-shadow: 5px 5px 10px rgba(229, 211, 46, 0.4); 
        
    }
}


//Modal
.btn-peek{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    padding: 10px;
    color: $yellow;
    margin-top: 50px;

}

.modal-contentv2{
    margin: 50px;
}

.modal-image-grade{
    margin: 50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    
}

small {
    color: rgba(255, 255, 255, 0.719);
    margin-left: 20px;
}

.modal-content{
    background-color: #383838ed;
    margin: 10% auto;
    padding: 30px;
    margin: 0% 0px;
    width: 100%;
    position: fixed;
    left: 8.1%;
    bottom: 5%;
    animation: modalopen .8s ease;
}

.modal-wrapper{
    display: flex;
    justify-content: center;
    background-color: #363636;
    animation: modalopen .8s ease;
    border-radius: 5px;
}

@keyframes modalopen{
    from{
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.computes {
    color: black;
    border-radius: 5px !important;
}

.btn-close{
    color: $yellow;
    font-size: 45px;
    cursor: pointer;
    position: absolute;
    right: 3%;
    
}

.btn-close:hover{
    color: darken($color: $yellow, $amount: 40%)
}

.btn-reset {
    padding: 8px;
    background-color: tomato;
    border-radius: 5px;
    margin: 4px;
    color: black;
}

//Modal End

//Queries
@media only screen and (max-width: 415px) {

    .modal-wrapper{
        flex-direction: column;
    }

    .img-grade{
        width: 250px;
    }

    .modal{
        position: relative;
    }

    .modal-contentv2{
        margin: 10px;
    }

    .modal-image-grade{
        margin: 20px;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .btn-close {
        top: 0%;
    }
    
}


@media only screen and (min-width: 768px) {
    .container {
        width:80%;
        margin: 0 auto;
       
    }

    .modal-image-grade{
        align-self: center;
    }

    .img-grade{
        width: 350px;
    }

    .modal-contentv2{
        margin: 20px;
    }

    .modal {
        margin:  0 auto;
    }

    
    .modal-content{
        background-color: #383838ed;
        margin: 0 auto;
        padding: 10px;
        width: 100%;
        margin: 0% 0px;
        position: relative;
        top: 20%;
        left: 20%;
    }

    .svgbg {
        position: absolute !important;
        top: -30px;
    }
    

    .img-book{ 
        margin-top: 4em;
    }
    .splide__arrow--next {
        right: -4em !important;
    }

    .splide__arrow--prev {
        left: -4em !important;
    }

}

@media only screen and (min-width: 1220px) {
    .container {
        width: 70%;
    }

    .modal-content {
        font-size: 1.3em;    
    }


    .svgbg {
        top: -120px;
    }

    #previousGrade, #classStandingGrade, #examGrades {
        font-size: 1em;
        padding: .8em;
    }

    #txt-grade {
        font-size: 1.5em;
    }

    .computes {
        padding: .8em;
    }

    .btn-reset {
        padding: .8em;
    }
    
}

@media only screen and (min-width: 1920px) {
    .container {
        width: 55%;
    }

    .splide__arrow--next {
        right: -6em !important;
    }

    .img-grade{
        width: 500px;
    }
    .splide__arrow--prev {
        left: -6em !important;
    }

    .modal-content{
        width: 50%;
        left: 30%;
    }

    .svgbg {
        top: -200px;
    }

    .hrGrade{
        width: 50% !important;
    }
}

@media only screen and (min-width: 2560px) {
    .container {
        width: 45%;
    }

    .modal-content{
        width: 30%;
        left: 35%;
    }

}

